.img {
  width: 500px;
  height: 500px;
  background-image: url("https://cdn.discordapp.com/attachments/524930652819423246/933608671668240484/143943985_3145959942172891_3252411719749292638_n.jpg");
  background-size: cover;
}
